page-home {
	ion-header{
    height: 75px;
	
	}
}

.header {
	width: 100%;
}

#logo {
	width: 70px;
	height: 70px;
	margin-left: 2%;
	float: left;
}


.nombre{
	font-size: 1.8em;
	float: left;
	margin-left: 25%;
	margin-top: 8%;
}

.flecha{
	width: 5%;
	height: 5%; 
	float: left;
	margin-left: 2%;
	margin-top: 11%;
}
.flecha:hover { 
    cursor: pointer;
}

.foto{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 2%;
	margin-top: 3%;
}



.asignatura{
	width: 350px;
	border-style: hidden hidden double hidden;
	height: 13%;
	border-width: 4px;
	padding: 4%;
	margin-left: -30px;
	margin-bottom: 5%;
	margin-top: -5%;
	background-color: #ffe1a4;
}

.temario{
	width: 350px;
	height: 40px;
	padding: 3%;
	margin-left: -30px;
	padding-right: 200px;
	background-color: #ffe1a4;
}

.tema1{
	width: 350px;
	padding: 3%;
	margin-left: -30px;
	padding-right: 200px;
}

#nombre1{
	margin-left: 40px;
	margin-top: 8px;
	margin-bottom: -5px;
	font-size: 1.3em;
}

.cosas_profe{
	
	width: 350px;
	border-style: hidden hidden solid hidden;
	height: 115px;
	border-width: 1px;
	padding: 4%;
	margin-left: -30px;

}

.migas {

	background-color: #fffaf0;
	font-size: 65%;
	font-weight: bold;
	margin-top: 1%;
	margin-left: -3%;
}

#miga1 {
	color: #2E86C1;
}

#miga1:hover { 
    cursor: pointer;
	color: #f6a797;
}


.profe{
	font-size: 1.1em;
	margin-left: 45px;
	margin-top: -19px;
}
.profe:hover { 
    cursor: pointer;
	color: #191970;
}

#icono1{
	margin-left: 24px;
	margin-top: 5px;
	
}
#icono1:hover { 
    cursor: pointer;
}


#icono2{
	margin-left: 24px;
	margin-top: 5px;	
}
#icono2:hover { 
    cursor: pointer;
}

#icono3{
	margin-left: 24px;
	margin-top: 4px;
}
#icono3:hover { 
    cursor: pointer;
}


.flecha:hover { 
    cursor: pointer;
}


.fondo {
	color: #7c7c65;
}

.titulo {
	color: #191970;
	text-shadow: 2px 2px 3px #a1a18c;
	font-weight: bold;
	text-align: center;
}


.cont{
	margin-left: 50px;
	margin-top: 8%;
	padding-top: 2%;
	font-size: 1.1em;
}
.cont:hover { 
    cursor: pointer;
	color: #191970;
}

.caja {
	color: #7c7c65;
	font-size: 2.2em;
}



#boton {
	background-color: #191970;
	text-align: center;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 1.5em;
}

.label-wp[stacked], .label-wp[stacked], .label-wp[stacked] {
  font-size: 1.7rem;
}